.body{
    background-image: url("")
}

.header{
    margin: 10% auto 0 auto;
    width: 50%;
    text-align: center;
    background-color: blue;
}
h3.song-name{
    font-size: medium;
}
.album-title {
    font-size: xx-large;
    color: blueviolet;
}

.container{
    display:grid;
    grid-template-columns: 50% 50%;
    margin: 20px auto;
    width:50%;
    text-align: center;
    background-color: aqua;
    list-style-type: none;
    padding-left: 0px;
     padding-top: 20px;
}
.album-songs{
    display: flex;
    flex-direction: row;

}

.album-list > .album, 
.album-songs > .song-name > p{
    margin-top: 10px;
}
.album-list {
    display: flex;
    flex-direction: column;
}
.album-library{
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 20px;
}
.album-songs{
    display: flex;
    flex-direction: column;
}
.main-content>.song{
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 20px;
}