/* *{
    margin: 0% auto;
    padding: .2em;
} */

html { 
    background: url("/images/Jukebox.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
  }
  
  

/* .header{
    margin: 10% auto 0 auto;
    width: 50%;
    text-align: center;
    background-color: blue;
} */
.back-navigation{
    max-width: 40%;
    margin: 0 auto;
    margin-bottom: 2em;
}
.update-song-name{
    max-width: 250px; 
    /* height: 22px; */
    margin: 0 auto;

}
button{
    margin: 1em;
    max-width: 150px;
    margin: 1em auto;
    
    

}

button:hover{
    cursor: pointer;
}
h3.song-name{
    font-size: large;
}
.album-title {
    font-size: 48px;
    color: rgb(14, 14, 14);
    border-style: solid;
    border-color: rgb(34, 34, 34);
    border-radius: .5ex;
    margin: 10px;
    
}
.album-image:hover{
    cursor: pointer;
    
}
.album-image{
    border-radius: 2ex;
    border-color: black;
    border-style: solid;
}
.album, .album-library{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 auto;
    background-color:rgba(129, 129, 129, 0.925);
    justify-content: center;
    padding-top: .2em;
    /* padding-bottom: 1em; */
    border-width: 10px;
    border-color: crimson;
    border: 1px solid #df1212;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 2ex;
    border-color: rgb(5, 5, 5);
    border-style:solid;
    border-width:5px;
}

/* .album-library{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 auto;
    background-color:rgba(129, 129, 129, 0.925);
    justify-content: center;
    padding-top: .2em;
    border-width: 10px;
    border-color: crimson;
    border: 1px solid #df1212;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 2ex;
    border-color: rgb(5, 5, 5);
    border-style:solid;
    border-width:5px;
} */

h2{
    color:rgb(255, 255, 255);
    font-size: 48px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: .5ex;
    list-style-type: none;
    margin:0 auto;
}

.album-comment{
    font-size: x-large;
    font-weight: bold;
}

.container{
    /* display:grid;
    grid-template-columns: 50% 50%; */
    margin: 20px auto;
    width:50%;
    max-width: 400px;
    text-align: center;
    list-style-type: none;
    padding-left: 0px;
     padding-top: 20px;
}
.album-songs{
    display: flex;
    flex-direction: row;

}
.comment-body{
    font-weight: normal;
    font-size: x-large;
}

.album-list > .album, 
.album-songs > .song-name > p{
    margin-top: 10px;
}
.album-list {
    display: flex;
    flex-direction: column;
}
.album-library{
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 20px;
    background-color:rgba(129, 129, 129, 0.8);
    border-radius: 2ex;
    width:500px;
}
.album-songs{
    display: flex;
    flex-direction: column;
}
.main-content>.song{
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 20px;
}
.song-name{
    font-size: xx-large;
    margin: 5px;
}
/* .album-library-title{
    font-size: 48px;
    border-style: solid;
    border-color: rgb(34, 34, 34);
    border-radius: .5ex;
} not getting used anymore i think */

h3{
    font-size: x-large;
    font-weight: normal;
    margin: 10px;
}

img{
    border-radius: 2ex;
    border-color: rgb(5, 5, 5);
    border-style:solid;
    border-width:3px; 
    
}
.main-content{
    
    border-radius: 2ex;
    width:500px;
}


